.navbar.navbar-fixed-top.navbar-inverse
  .navbar-inner
    .container
      %a.btn.btn-navbar(data-target=".nav-collapse" data-toggle="collapse")
        %span.icon-bar
        %span.icon-bar
        %span.icon-bar
      = link_to t('title'), root_path , {class: 'brand' }
      .container.nav-collapse
        %ul.nav
          %li.active
            %a{ href: root_path} Home
          %li
          %li
            %a{ href: "#about"} About
          %li
            %a{ href: "#contac"} Contact
          %li.dropdown
            %a.dropdown-toggle{ href: "#", "data-toggle" => "dropdown"}
              Dropdown
              %b.caret
            %ul.dropdown-menu
              %li
                %a{ href: "#"} Action
              %li
                %a{ href: "#"} Another action
              %li
                %a{ href: "#"} Something else here
              %li.divider
              %li.nav-header Nav Header
              %li
                %a{ href: "#"} Separated link
              %li
                %a{ href: "#"} One more separated link
        %form.navbar-form.pull-right
          %input.span2{ type: "text", placeholder: "Email"}
          %input.span2{ type: "password", placeholder: "Password"}
          %button.btn{ type: "submit"} Sign in

          -# pending
            - if(not user_signed_in?)
              %li= link_to model_class.human_attribute_name(:sign_in), new_user_session_path
              %li= link_to model_class.human_attribute_name(:sign_up), new_user_registration_path
            - else
              %li= link_to model_class.human_attribute_name(:sign_out), destroy_user_session_path
            %li= link_to model_class.human_attribute_name(:cart), new_cart_path